*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  background: white;
  font-family: "Rubik", sans-serif;
}
button {
  cursor: pointer;
  font-family: inherit;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848484;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* // ========= common responsive ========= */
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  cursor: pointer;
}
.p-relative {
  position: relative !important;
}
.d-none {
  display: none !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-60 {
  margin-bottom: 50px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.l {
  margin: 0 !important;
}
.m-10 {
  margin-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.d-lg-none {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
.gap-10 {
  gap: 10px !important;
}
.gap-20 {
  gap: 20px !important;
}
.gap-30 {
  gap: 30px !important;
}
.vr-gap-15 {
  gap: 15px 0px !important;
}
.vr-gap-20 {
  gap: 20px 0px !important;
}
.vr-gap-30 {
  gap: 30px 0px !important;
}
.vr-gap-50 {
  gap: 50px 0px !important;
}
.gap-40 {
  gap: 40px !important;
}
.d-flex {
  display: flex;
}
.align-end {
  align-items: flex-end;
}
.width-full {
  width: 100%;
}
.Max-width-full {
  max-width: 100%;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-danger {
  color: red;
}
.text-warning {
  color: yellow;
}
.text-info {
  color: dodgerblue;
}
.text-success {
  color: green;
}
.pl-0 {
  padding-left: 0px !important;
}
.align-center {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1248px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1770px;
  }
}

.hide-on-web {
  display: none;
}
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .hide-on-web {
    display: block;
  }
}
/* ==== header */
header {
  box-shadow: 0px 3px 36px #00000017;
  background: white;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav ul {
  /* width: calc(33% - 2px); */
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0px;
}

.navLogo {
  width: calc(33% - 2px);
  text-align: center;
  padding: 0px;
}

.nav-call {
  width: calc(33% - 2px);
  text-align: right;
}

.nav li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.navLogo img {
  width: 150px;
}

.nav-call .call {
  color: #020248;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-call {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav-call img {
  width: 18px;
}

.bars span {
  width: 65%;
  height: 2px;
  background: #7bb44a;
  display: block;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.bars {
  display: flex;
  width: 35px;
  gap: 5px;
  flex-flow: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  background: rgb(234 242 255 / 25%);
  height: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.list-header {
  width: calc(33% - 2px);
}

ul.list-mobile.open-menu {
  display: flex;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding-top: 60px;
  flex-flow: column;
  justify-content: left;
  padding: 80px 40px;
}

.bars.closeBtn span:nth-child(2) {
  display: none;
}

.bars.closeBtn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bars.closeBtn span:nth-child(3) {
  transform: rotate(-45deg) translate(0px, 0px);
}

.bars.closeBtn {
  height: 35px;
}

.bars {
  display: none;
}
.web-hide {
  display: none;
}
@media (max-width: 992px) {
  ul.list-mobile {
    display: none;
  }
  .bars {
    display: flex;
  }
  .web-hide {
    display: flex;
  }
  li.web-hide.sideLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 !important;
  }

  li.web-hide.sideCall {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
  }

  li.web-hide.sideCall span {
    /* width: 100%; */
    display: block;
  }

  li.web-hide.sideCall .nav-call {
    width: 100%;
  }

  li.web-hide.sideCall .nav-call a {
    font-size: 16px;
    width: 100%;
    padding: 30px 0px;
    border-radius: 0px;
  }

  .bars.closeBtn {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}
/* ==== header */
/* ==== banner */
section.top-banner {
  background: url(../images/home_2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 60%;
}

.slides-outer {
  display: flex;
}

.slideContent {
  display: flex;
  flex-flow: column;
  align-items: self-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.slide-img {
  min-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sl-head p {
  font-size: 16px;
  padding: 13px 10px;
  border-radius: 8px;
}

.sl-head {
  background: white;
}

.slideContent h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

.slideContent p {
  font-size: 16px;
  color: #000000;
  line-height: 26px;
}

.slideContent button {
  background: #0065ff;
  color: white;
  border-radius: 8px;
  min-height: 45px;
  width: 150px;
  border: none;
  margin-top: 40px;
  font-size: 16px;
}
section.top-banner div.owl-buttons {
  display: none;
}
.non-slide {
  display: none;
}

@media (max-width: 992px) {
  .slides-outer {
    flex-flow: column-reverse;
    gap: 10px;
  }

  .slide-img {
    min-width: auto;
  }

  .slide-img img {
    /* width: 320px; */
    /* height: 260px; */
    /* object-fit: scale-down; */
  }

  .slideContent {
    align-items: center;
  }

  .slideContent h1 {
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .slideContent p {
    text-align: center;
    font-size: 14px;
  }

  .slideContent h1 br {
    display: none;
  }

  .slideContent button {
    margin-top: 20px;
  }

  div.slider-container .owl-controls.clickable {
    position: relative;
    bottom: -10px;
  }

  .slider-container {
    padding-bottom: 20px;
  }

  .navLogo img {
    width: 100px;
  }

  .nav-call .call {
    font-size: 11px;
  }

  .nav-call {
    gap: 5px;
  }
  div.slider-container .owl-pagination {
    justify-content: center;
  }
  a.call span {
    display: none;
  }

  a.call {
    width: 30px;
    height: 30px;
    background: #ebf3ff;
    border-radius: 100px;
    justify-content: center;
  }
  section.top-banner div.owl-pagination {
    display: none;
  }

  section.top-banner div.owl-buttons {
    display: block;
  }

  section.top-banner .owl-prev {
    position: absolute;
    left: 0;
    width: 44px;
    height: 44px;
    background: transparent linear-gradient(270deg, #f7f7f7 0%, #ffffff 100%) 0%
      0% no-repeat padding-box;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
  }

  section.top-banner .owl-next {
    position: absolute;
    right: 0px;
    width: 44px;
    height: 44px;
    background: transparent linear-gradient(270deg, #f7f7f7 0%, #ffffff 100%) 0%
      0% no-repeat padding-box;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }
  .non-slide .aboutus-grid {
    display: flex;
  }

  .non-slide {
    display: block;
    position: absolute;
    bottom: -15px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background: white;
    width: 93%;
    margin: auto;
    left: 0;
    right: 0;
  }

  .main-slider {
    position: relative;
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
  }

  .abt-grids span {
    /* background: #EBF3FF; */
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }
}
/* ==== banner */
/* ==== about us */

.for-mobile-heading {
  text-align: left;
  width: 100%;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}
section.white-bg {
  background: white;
  padding: 20px 0px;
}

.about-us {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-img {
  width: calc(40% - 30px);
  position: relative;
  overflow: hidden;
}

.about-us-content {
  width: calc(60% - 30px);
}

.about-img:before {
  content: "";
  height: 410px;
  width: 410px;
  background: #eff5fd9d;
  position: absolute;
  border-radius: 100%;
}

span.dots-img-one {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
}

span.dots-img-two {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}

.about-img img {
  position: relative;
}

.about-us-text h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}

.about-us-text p {
  font-size: 16px;
  line-height: 24px;
  color: #5c5959;
  font-weight: 300;
}

.about-us-text {
  display: flex;
  flex-flow: column;
  gap: 25px;
  align-items: flex-start;
}

.about-us-text button {
  min-width: 100px;
  font-size: 16px;
  color: #0065ff;
  border: none;
  background: transparent;
  position: relative;
  padding-right: 20px;
}

.about-us-text button:before {
  content: "";
  position: absolute;
  border-width: 1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(312deg);
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.aboutus-grid {
  margin-top: 20px;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 30px 0px;
  justify-content: space-between;
  width: 100%;
}

.abt-grids {
  width: 33%;
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.abt-grids:nth-child(2) {
  border-left: 1px dashed #7070704f;
  border-right: 1px dashed #7070704f;
}

.abt-grids span {
  background: #ffffff;
  border-radius: 10px;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-grids span img {
  width: 42px;
  height: 42px;
}

.abt-grids span {
  box-shadow: 0px 5px 10px #f6f6f6;
}
.abt-grids p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

span.expr-advc {
  background: #fff2f8;
}

span.lowes-prie {
  background: #deffee;
}

span.support-abt {
  background: #fff7e3;
}
@media (max-width: 992px) {
  .slides-outer {
    flex-flow: column;
    gap: 10px;
    padding-top: 30px;
  }

  .slide-img {
    min-width: auto;
  }

  .slide-img img {
    /* width: 320px; */
    /* height: 260px; */
    /* object-fit: scale-down; */
  }

  .slideContent {
    align-items: center;
  }

  .slideContent h1 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .slideContent p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .slideContent h1 br {
    display: none;
  }

  .slideContent button {
    margin-top: 20px;
  }

  div.slider-container .owl-controls.clickable {
    position: relative;
    bottom: -10px;
  }

  .slider-container {
    padding-bottom: 0px;
  }

  .navLogo img {
    width: 100px;
  }

  .nav-call .call {
    font-size: 11px;
  }

  .nav-call {
    gap: 5px;
  }

  .about-us {
    flex-flow: column;
    gap: 30px;
  }

  .about-img {
    width: 100%;
  }

  .about-us-content {
    width: 100%;
  }

  .about-us-text h2 {
    font-size: 22px;
  }

  .about-us-text p {
    font-size: 14px;
  }

  .about-us-text button {
    font-size: 14px;
  }

  .abt-grids p {
    font-size: 12px;
  }

  .abt-grids span {
    width: 35px;
    height: 35px;
    padding: 5px;
    background: #ebf3ff;
    border-radius: 3px;
  }

  span.support-abt img {
    width: 100%;
    height: 100%;
  }

  .aboutus-grid {
    padding: 18px 0px;
    /* display: none; */
    margin-top: 0;
  }
  img.img-fluid.about-imgmain {
    max-width: 310px;
    margin: auto;
    display: block;
  }

  .about-img:before {
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }

  span.dots-img-one {
    width: 90px;
    left: 40px;
    top: 40px;
  }

  span.dots-img-two {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }
}
/* ==== about us */
/* ==== product  */
section.product-offering {
  background: #ebf3ff;
  padding: 40px 0px;
}

.prd-head {
  text-align: center;
}

.prd-head h2 {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
}

.prd-head p {
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}

.porduct-slider {
  display: flex;
  margin-top: 36px;
}

.prodc-gird {
  /* width: 100%; */
  max-width: 370px;
  margin: 10px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.img-fadeout {
  position: relative;
}

.img-fadeout:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%) 0%,
    rgb(255 255 255) 100%
  );
  height: 60%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
}

.prod-content {
  padding: 25px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.pr-head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pr-head img {
  width: 40px;
}

.pr-head h4 {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}

.prod-content button {
  width: 100%;
  max-width: 170px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: white;
  font-size: 16px;
  color: #000000;
  min-height: 50px;
}

.prod-content p {
  color: #000000;
  font-size: 15px;
  line-height: 19px;
}
/* ==== product  */
/* ==== call us  */
section.call-us {
  background: white;
}

.call-outer {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  flex-flow: wrap;
}

.call-content h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.call-content p {
  font-size: 20px;
  color: black;
  line-height: 34px;
  font-weight: 300;
}

.call-content {
  width: calc(75% - 45px);
}

.call-btn {
  width: calc(25% - 40px);
  text-align: center;
}

.call-btn button {
  background: #0065ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  color: white;
  /* min-height: 50px; */
  max-width: 300px;
  width: 100%;
  font-size: 18px;
}
.call-btn button a {
  margin: 0;
  color: white;
  text-decoration: none;
  padding: 13px 0;
}
.call-btn a {
  color: #0065ff;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

@media (max-width: 992px) {
  .call-outer {
    flex-flow: wrap;
    gap: 30px;
    padding: 30px 0px;
  }

  .call-content {
    width: 100%;
    text-align: center;
  }

  .call-btn {
    width: 100%;
  }

  .call-content h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .call-content p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
  }
}
/* ==== call us  */
/* ==== customer  */
section.customers-section {
  background: transparent linear-gradient(180deg, #ebf3ff 0%, #eaf2ff 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  padding: 40px 0px;
}

span.floating-arrow {
  position: absolute;
}

span.floating-arrow.left-top {
  left: 30px;
  top: 40px;
}

span.floating-arrow.right-dot {
  right: 0;
  width: 140px;
  overflow: hidden;
  top: 0;
}

span.floating-arrow.right-dot img {
}

span.floating-arrow.right-bottom {
  right: 40px;
  bottom: 20px;
}

.cust-haed {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cust-haed h3 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  isolation: isolate;
  margin-top: 10px;
}

.cust-haed p {
  font-size: 16px;
  color: #052f5f;
}

.cust-haed h3:after {
  content: "";
  width: 100%;
  height: 8px;
  background: #cbe9a8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.customer-data {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 980px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.cust-img {
  width: 115px;
  height: 115px;
  flex-shrink: 0;
  border-radius: 100%;
  box-shadow: 0px 2px 10px #a1a1a1;
}

.customer-content h5 {
  font-size: 16px;
  color: #052f5f;
  font-weight: 500;
}

.customer-content p {
  color: #052f5f;
  font-size: 14px;
  line-height: 26px;
}

.customer-content {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
/* ==== customer  */
/* ==== office map  */
.offc-map {
  padding: 40px 0px;
}

section.offc-map-section {
  background: white;
}

.offc-map h4 {
  color: #020248;
  font-size: 16px;
  font-weight: 500;
}

.offc-map p {
  color: #020248;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.offc-map iframe {
  margin-top: 15px;
}
/* ==== office map  */
/* ==== footer  */
footer {
  background: #ebf3ff;
}

.foot-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}

.copyright p {
  color: #000000;
  font-size: 16px;
}

.footlinks {
  display: flex;
}

.footlinks a {
  text-decoration: none;
  color: #000000;
  border-right: 2px solid;
  display: block;
  padding: 0 10px;
}

.footlinks a:last-child {
  border: none;
}
/* ==== footer  */

/* =====main banner slider */

div.slider-container .owl-controls.clickable {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.slider-container .owl-pagination {
  display: flex;
  gap: 10px;
}

div.slider-container .owl-page {
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  background: white;
  border-radius: 10px;
}

div.slider-container .owl-page.active {
  background: #0065ff;
  border-color: #0065ff;
}
/* =====main banner slider */
/* =====product slider */

div.prodcut-container .owl-controls.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.prodcut-container .owl-page {
  min-width: 30px;
  background: #9ebdeb;
  height: 5px;
  border-radius: 30px;
  transition: all 0.2s ease;
}

div.prodcut-container .owl-pagination {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

div.prodcut-container .owl-page.active {
  background: #0065ff;
  min-width: 25px;
}
/* =====product slider */
/* =====customer slider */
div.customers-cont .owl-controls.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.customers-cont .owl-page {
  min-width: 30px;
  background: #9ebdeb;
  height: 5px;
  border-radius: 30px;
  transition: all 0.2s ease;
}

div.customers-cont .owl-pagination {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

div.customers-cont .owl-page.active {
  background: #0065ff;
  min-width: 25px;
}
div.customers-cont .owl-buttons div {
  height: 44px;
  width: 44px;
  border-radius: 70px;
  background: transparent linear-gradient(270deg, #f7f7f7 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #0d93fe 0%, #0065ff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div.customers-cont .owl-prev {
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

div.customers-cont .owl-next {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.foot-logo img{
  width: 120px;
  margin: auto;
  display: block;
}
.foot-logo p{
  font-size: 13px;
  display: block;
  margin-top: 5px;
}
/* =====customer slider */

@media (max-width: 992px) {
  .customer-data {
    flex-flow: column;
    gap: 15px;
  }

  .customer-content p {
    text-align: center;
  }

  .customer-content h5 {
    text-align: center;
  }

  .owl-buttons {
    display: none;
  }

  div.prodcut-container .owl-pagination {
    justify-content: center;
  }

  div.customers-cont .owl-pagination {
    justify-content: center;
  }

  .foot-data {
    flex-flow: column;
    gap: 10px;
    padding: 20px 0px;
  }

  .foot-logo img {
    width: 135px;
  }

  .copyright p {
    font-size: 14px;
  }

  .footlinks {
    font-size: 14px;
  }

  ul.list-mobile.open-menu ul li {
    border-bottom: 1px solid black;
  }

  ul.list-mobile.open-menu li {
    border-bottom: 1px solid rgb(112 112 112 / 11%);
    color: #000000;
  }
  .nav li a {
    display: block;
    padding: 21px 10px;
  }

  ul.list-mobile.open-menu {
    padding: 0px;
    gap: 0px;
  }
  .cust-img {
    width: 60px;
    height: 60px;
  }

  span.floating-arrow.left-top {
    width: 40px;
    left: 10px;
    top: 10px;
  }

  span.floating-arrow.right-dot {
    width: 60px;
  }

  span.floating-arrow.right-bottom {
    width: 20px;
  }

  .cust-haed img {
    width: 33px;
  }

  .customer-data {
    margin-top: 20px;
  }
}

/* ====== popup */
.popup-overlahy {
  background: rgb(232 232 232 / 74%);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
  display: none;
}

.popup-inner {
  max-width: 550px;
  position: relative;
}

.popup-content {
  background: transparent linear-gradient(180deg, #f0f4fa 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 14px 30px #bebebe4d;
  border-radius: 15px;
  padding: 30px 40px;
}

.popup-inner {
}

button.cls-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  right: 10px;
  top: -30px;
}

button.cls-btn:before {
  content: "";
  width: 100%;
  background: black;
  height: 2px;
  position: absolute;
  transform: rotate(45deg);
  left: 0;
  border-radius: 10px;
}

button.cls-btn:after {
  content: "";
  width: 100%;
  background: black;
  height: 2px;
  position: absolute;
  transform: rotate(133deg);
  left: 0;
  border-radius: 10px;
}

.pop-header h2 {
  font-size: 28px;
  font-weight: 500;
  color: #052f5f;
}

.pop-header p {
  color: #052f5f;
  font-size: 14px;
  margin-top: 8px;
}

.pop-header {
  text-align: center;
}

.popup-form {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin-bottom: 15px;
}

.form-contnet input {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  min-height: 45px;
  padding: 8px;
}

.form-contnet {
  position: relative;
}

p.pop-pera {
  font-size: 12px;
  color: #000000ba;
}

button.btn-popup {
  width: 100%;
  background: #0065ff;
  color: white;
  border: none;
  height: 45px;
  border-radius: 4px;
  margin-top: 20px;
}
.form-contnet.mobile-input button {
  position: absolute;
  border: none;
  padding: 0 10px;
  left: 1px;
  height: calc(100% - 4px);
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px 0px 0px 5px;
  background: white;
  border-right: 1px solid #dbdbdb;
  color: hsl(0deg 0% 0% / 35%);
}

.form-contnet.mobile-input input {
  padding-left: 60px;
}
p.pop-pera a {
  color: #0065ff;
  text-decoration: none;
}
@media (max-width: 992px) {
  .pop-header h2 {
    font-size: 22px;
  }

  .popup-content {
    padding: 15px 20px;
    width: 98%;
    margin: auto;
  }

  p.pop-pera {
    font-size: 11px;
  }

  p.pop-pera a {
    color: #0065ff;
    text-decoration: none;
  }
  li.web-hide.sideLogo {
    pointer-events: none;
  }
  .prd-head h2 {
    font-size: 20px;
  }

  .prd-head p {
    font-size: 14px;
  }

  .pr-head h4 {
    font-size: 20px;
  }

  .prod-content p {
    font-size: 14px;
  }

  .cust-haed h3 {
    font-size: 16px;
  }

  .cust-haed p {
    font-size: 14px;
  }

  .cust-haed h3:after {
    height: 4px;
  }

  .offc-map {
    padding: 20px 0px;
  }
}
/* ====== popup */
/* ====== complatint box */
section.complaint-section {
  background: white;
  position: relative;
  padding: 40px 0px;
  background: url(../images/home_2.png);
}

.mid-cmplHeading h4 {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
}

.mid-cmplHeading p {
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
  line-height: 24px;
}

.mid-cmplHeading h5 {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  margin: 15px 0 0px 0px;
}

.listSection {
  margin: 15px 0px;
}

.listSection h2 {
  font-size: 16px;
  font-weight: 500;
}

.listSection ul {
  padding-left: 30px;
  margin-top: 10px;
}

.listSection ul li p {
  font-size: 15px;
  line-height: 24px;
  color: #4e4e4e;
  font-weight: 400;
}

.listSection ul li ol {
  list-style: square;
  padding-left: 25px;
  margin-top: 10px;
}

.listSection ul li ol li p {
  color: #5f5f5f;
  font-size: 13px;
}

.cmplnProcess h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.cmplnProcess p {
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
  line-height: 22px;
}

.cmplnProcess ol {
  list-style: disc;
  padding-left: 25px;
  margin-top: 10px;
}

.cmplnProcess ol li span {
  font-size: 15px;
  line-height: 24px;
  color: #4e4e4e;
  font-weight: 400;
}

.cmplnProcess ol li {
  margin-bottom: 7px;
}

.cmplContact {
  /* text-align: center; */
  margin-top: 40px;
}

.cmplContact p {
  font-size: 15px;
  color: #000000;
  margin-top: 10px;
  line-height: 24px;
}
a.linkTg {
  color: #03a9f4;
  display: inline-block;
  margin-top: 8px;
  /* font-size: 14px; */
}

.cmplnProcess {
  margin: 20px 0px;
}
@media (max-width: 992px) {
  .mid-cmplHeading h4 {
    text-align: center;
    font-size: 20px;
  }

  .mid-cmplHeading p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  section.complaint-section {
    background: #f9fdff;
  }

  .mid-cmplHeading h5 {
    font-size: 18px;
  }
  .footlinks a {
    font-size: 11px;
    padding: 0px 5px;
  }
}
/* ====== complatint box */

section.product-offerings-section {
  background: #f8fbff;
  padding: 40px 0px;
}

h2.section-title {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

p.section-description {
  font-size: 16px;
  color: #000000;
}

.product-cards {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-card {
  box-shadow: 0px 4px 20px #e5ebf7;
  border-radius: 6px;
  width: -webkit-fill-available;
  padding: 11px 20px;
  background: white;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

span.card-title-top {
  color: #253858;
  font-size: 13px;
  font-weight: 500;
}

span.card-title-bottom {
  font-size: 13px;
  display: block;
  font-weight: 300;
  color: #253858;
}

.group-brands {
  margin-top: 40px;
}

.brand-card {
  box-shadow: 0px 4px 20px #e5ebf7;
  border-radius: 6px;
  background: white;
  display: inline-flex;
}
.brand-cards {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-card {
  padding: 20px;
}

/* ==== contact us  */

section.sectionDefault p {
  display: inherit;
  padding: 0;
  text-align: unset;
  white-space: unset;
  width: auto;
  word-break: unset;
}
.flex-div {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.main-content-area .my-account-section {
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 15px;
  box-shadow: 0 6px 17px #90909029;
  display: flex;
  gap: 20px;
  height: 100%;
  padding: 47px 15px;
  position: relative;
  width: 100%;
}
.main-content-area .my-account-section .content-section-custom .heading {
  margin-bottom: 28px;
}
.main-content-area .my-account-section .content-section-custom .heading span {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}
.main-content-area .my-account-section .content-section-custom .heading p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.content-section-custom .heading p {
  margin-top: 5px;
}
.my-account-section figure {
  flex-shrink: 0;
}
.main-content-area
  .my-account-section
  .content-section-custom
  .access-details
  ul {
  align-items: center;
  display: grid;
  gap: 23px 20px;
  grid-template-columns: repeat(2, 1fr);
}
.main-content-area
  .my-account-section
  .content-section-custom
  .access-details
  ul
  li {
  align-items: center;
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  max-width: 220px;
  padding: 0;
  width: 100%;
}
.main-content-area
  .my-account-section
  .content-section-custom
  .access-details
  ul
  li
  span {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.main-content-area
  .my-account-section
  .content-section-custom
  .login-myAccount {
  margin-top: 41px;
}
.main-content-area
  .my-account-section
  .content-section-custom
  .login-myAccount
  .login-btn {
  background-color: #0065ff;
  border: 1px solid #0065ff;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  max-width: 200px;
  outline: none;
  padding: 10px;
  width: 100%;
}
.right-content-area {
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 15px;
  box-shadow: 0 6px 17px #90909029;
  padding: 15px 15px 22px;
}
.right-content-area .heading {
  margin-bottom: 15px;
}
.right-content-area .heading span {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}
.right-content-area .heading p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.main-content-area {
  width: calc(70% - 13px);
}
.right-content-area {
  width: calc(30% - 12px);
}
.helpGrid {
  border-bottom: 1px solid #f5f5f5;
  gap: 15px;
  padding: 12px 0;
}
.helpGrid,
.imgLftIco {
  align-items: center;
  display: flex;
}
.imgLftIco {
  background: #dcdcdc;
  border-radius: 8px;
  flex-shrink: 0;
  height: 36px;
  justify-content: center;
  width: 36px;
}
.hlpListCont span {
  color: #052e5cb5;
  font-size: 13px;
}
.hlpListCont h3 {
  font-size: 14px;
  font-weight: 500;
}
.hlpListCont {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.hlpListCont p {
  color: #052e5e69;
  font-size: 11px;
  line-height: unset;
}
.helpGrid:last-child {
  border: none;
  padding-bottom: 0;
}
div.hlpListCont a {
  color: #0065ff;
}
span.fntInc {
  color: #052e5ecc;
  font-size: 13px;
}
.imgLftIco.callUsBg {
  background: #fff9df;
}
.imgLftIco.whatsBg {
  background: #e3fcef;
}
.imgLftIco.queryBg {
  background: #edeaff;
}
.imgLftIco.enquireBg {
  background: #cff4f8;
}
.content-section-custom {
  width: -webkit-fill-available;
}
section.contact-us-section {
  padding: 40px 0px;
}

.contact-heading {
  text-align: center;
  margin-bottom: 30px;
}

.contact-heading h2 {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-heading p {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .flex-div {
    gap: 15px;
    margin-top: 15px;
  }
  .main-content-area .my-account-section {
    flex-direction: column;
    padding: 15px;
  }
  .main-content-area {
    width: 100%;
  }
  .main-content-area .my-account-section figure.img {
    position: absolute;
    right: 10px;
    top: 120px;
  }
  .main-content-area .my-account-section figure.img img {
    width: 140px;
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .access-details {
    padding-right: 145px;
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .access-details
    ul {
    gap: 10px 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .login-myAccount {
    margin-top: 20px;
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .login-myAccount
    .login-btn {
    border-radius: 5px;
    font-size: 16px;
    padding: 11px 10px;
    width: 100%;
  }
  .right-content-area {
    gap: 15px;
    max-width: unset;
    width: 100%;
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .access-details
    ul
    li
    span {
    font-size: 13px;
  }
  .main-content-area
    .my-account-section
    .content-section-custom
    .access-details
    ul
    li {
    gap: 5px;
  }
}

/* ==== contact us  */
